.navbar-expand-lg{
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
  font-weight: bolder;
  font-size: x-large;
}
.navbar-expand-lg-page1{
  background-image: linear-gradient(to right, orangered, darkred);
  font-weight: bolder;
  font-size: x-large;
}
.navbar-brand{
  font-size: x-large !important;
}
.bg{
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('../images/bg1.jpg');
}
img{
  border-style: solid !important;
}
.display-4 {
  font-weight: bolder !important;
  background-image: linear-gradient(to right, black, white);
  padding-left: 20px;
  color: white;
}
.team-pic{
  padding-right: 50px;
}
.image-name{
  padding-right: 75px;
}
.name{
  padding-left: 30px;
}
.team{
  padding-left: 340px;
}
a {
  color: #2487ce;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bolder !important;
  color: white;

}
h1, h2{
  font-family: Georgia !important;
}
.smallJumbotron {
  padding: 10px !important;
}
.carousel-inner img {
  height: 450px;
  width: 800px;
  position: center;
  margin: auto;
}
.content4{
  font-family: "Open Sans", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  font-weight: bold;
  font-style: italic;
  text-align: justify;
}
.carousel-indicators li{
  background-color: #491217 !important;
  height: 10px !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #23272b;
  color: white;
  text-align: center;
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)) ;
}
.about{
  font-weight: bold !important;
  font-size: large;
  text-align: justify;
  background-color: lightgrey !important;
  padding: 20px;
}
.linked{
  padding-right: 220px;
}
.linkedin{
  padding-left: 80px;
}
.dropdown-menu{
  background-color: lightgrey !important;
  color: white !important;
  font-size: larger !important;
  font-weight: bolder !important;
  border-radius: 20px !important;
}
.main{
  display: flex;
  background: black;
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  height: 3in;
}
.main-branch1{
  width: 33.33%;
  margin: 30px;
  background-color: darkred;
  box-shadow: 7px 7px orangered;
}
.main-branch2{
  width: 33.33%;
  margin: 30px;
  background-color: darkgreen;
  box-shadow: 7px 7px lightgreen;
}
.main-branch3{
  width: 33.33%;
  margin: 30px;
  background-color: darkblue;
  box-shadow: 7px 7px deepskyblue;
}
.main-branch4{
  width: 33.33%;
  margin: 30px;
  background-color: saddlebrown;
  box-shadow: 7px 7px rosybrown;
}
.main-branch5{
  width: 33.33%;
  margin: 30px;
  background-color: darkmagenta;
  box-shadow: 7px 7px magenta;
}
.main-branch6{
  width: 33.33%;
  margin: 30px;
  background-color: darkorange;
  box-shadow: 7px 7px orangered;
}
hr.class-1 {
  border-top: 7px solid orangered;
}
